In [2]:
import pandas as pd
tweets = pd.read_csv('tweet_data/Tweet.csv')
tweets = tweets[tweets['like_num'] > 2] #more than 2 likes
tweets['post_date'] = pd.to_datetime(tweets['post_date'],unit='s') #change epoch time

FileNotFoundError: [Errno 2] No such file or directory: 'tweet_data/Tweet.csv'

In [ ]:
tweets_simplify = tweets.copy()
tweets_simplify

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
23,550453087731982336,DCaptura,2015-01-01 00:46:57,"""http://iphone.appleinsider.com/articles/14/12...",0,3,3
25,550453624258965505,WSJ,2015-01-01 00:49:05,Jeff Bezos lost $7.4 billion in Amazon's worst...,21,139,57
52,550465988442214400,valuewalk,2015-01-01 01:38:13,$MU $AAPL $SUNE Propel Greenlight To 9% Return...,0,0,4
84,550479777006497792,themotleyfool,2015-01-01 02:33:00,"#FoolFaves2014 Lo, how the mighty have fallen?...",0,7,5
92,550489146624856064,CNBC,2015-01-01 03:10:14,"Earlier this month, a mysterious glitch caused...",4,18,17
...,...,...,...,...,...,...,...
3717933,1212151032014237697,vistapglobal,2019-12-31 23:18:21,“It’s A Wrap” Vista Partners Daily Market Reca...,0,3,3
3717934,1212152718640472064,decampkev,2019-12-31 23:25:03,Most bulls understand that quite well. In fact...,1,0,3
3717939,1212154167185289216,Commuternyc,2019-12-31 23:30:48,Nah This will be a trip! Especially without a ...,0,0,3
3717959,1212159765914079234,TEEELAZER,2019-12-31 23:53:03,That $SPY $SPX puuump in the last hour was the...,1,0,6
3717961,1212160015332728833,Commuternyc,2019-12-31 23:54:03,Patiently Waiting for the no twitter sitter tw...,0,0,5

In [ ]:
tweets_simplify.drop('writer', inplace=True, axis=1)
tweets_simplify.drop('comment_num', inplace=True, axis=1)
tweets_simplify.drop('retweet_num', inplace=True, axis=1)
#remove tweet_id, writer, comment_num, retweet_num

In [ ]:
tweets_simplify

,tweet_id,post_date,body,like_num
23,550453087731982336,2015-01-01 00:46:57,"""http://iphone.appleinsider.com/articles/14/12...",3
25,550453624258965505,2015-01-01 00:49:05,Jeff Bezos lost $7.4 billion in Amazon's worst...,57
52,550465988442214400,2015-01-01 01:38:13,$MU $AAPL $SUNE Propel Greenlight To 9% Return...,4
84,550479777006497792,2015-01-01 02:33:00,"#FoolFaves2014 Lo, how the mighty have fallen?...",5
92,550489146624856064,2015-01-01 03:10:14,"Earlier this month, a mysterious glitch caused...",17
...,...,...,...,...
3717933,1212151032014237697,2019-12-31 23:18:21,“It’s A Wrap” Vista Partners Daily Market Reca...,3
3717934,1212152718640472064,2019-12-31 23:25:03,Most bulls understand that quite well. In fact...,3
3717939,1212154167185289216,2019-12-31 23:30:48,Nah This will be a trip! Especially without a ...,3
3717959,1212159765914079234,2019-12-31 23:53:03,That $SPY $SPX puuump in the last hour was the...,6
3717961,1212160015332728833,2019-12-31 23:54:03,Patiently Waiting for the no twitter sitter tw...,5

In [ ]:
#make sure that the endDate will be a week earlier than the end date for the prices for the entirety
startDate = '2015-01-05'
endDate = '2015-6-29'
tweets_simplify = tweets_simplify[tweets_simplify['post_date'] >= startDate] #filter post_date
tweets_simplify = tweets_simplify[tweets_simplify['post_date'] <= endDate] #filter post_date
# tweets_simplify['post_date'] = tweets_simplify['post_date'] + pd.DateOffset(days=7) #offset date by 1 week
tweets_simplify

,tweet_id,post_date,body,like_num
3417,551901880079880192,2015-01-05 00:43:56,Xiaomi says it sold 61.1 million smartphones i...,7
3454,551914027862200321,2015-01-05 01:32:12,"My Weekend Review 1.4.15: $SPY, $IWM, $QQQ, $T...",12
3479,551922958692675584,2015-01-05 02:07:42,Weekend Market Film Session 01/04/15 {Video} h...,10
3490,551928218224455680,2015-01-05 02:28:36,"Despite lawsuit, $AAPL iOS 8 is far more stora...",33
3492,551928890705600512,2015-01-05 02:31:16,"Weekend Review VIDEO: $SPY, $IWM, $QQQ, $TLT, ...",17
...,...,...,...,...
378695,615233464552525824,2015-06-28 19:01:03,"Hey, did Space-X just pull a $NFLX and split 7...",5
378735,615238616525094912,2015-06-28 19:21:31,"Stocks to keep an eye on June 29, 2015 http://...",4
378928,615269089511014400,2015-06-28 21:22:36,student reviews #finance #stockmarket #MarketC...,3
378977,615281034356109312,2015-06-28 22:10:04,$SPY $IBB $NFLX $TSLA $FB 2 More days of Gloom...,3
379105,615295669805404160,2015-06-28 23:08:13,Weekend Review VIDEO (6/28/15): $SPY $IWM $QQQ...,10

In [ ]:
company_tweet = pd.read_csv('tweet_data/Company_Tweet.csv')
company_tweet

                    tweet_id ticker_symbol
0         550803612197457920          AAPL
1         550803610825928706          AAPL
2         550803225113157632          AAPL
3         550802957370159104          AAPL
4         550802855129382912          AAPL
...                      ...           ...
4336440  1212158772015034369          TSLA
4336441  1212159099632267268          TSLA
4336442  1212159184931717120          TSLA
4336443  1212159838882533376          TSLA
4336444  1212160015332728833          TSLA

[4336445 rows x 2 columns]

In [ ]:
tweets_simplify = pd.merge(tweets_simplify, company_tweet, left_on='tweet_id', right_on='tweet_id')
tweets_simplify['post_date'] = tweets_simplify['post_date'].dt.normalize() #get rid of time

In [ ]:
tweets_apple = tweets_simplify.copy()
tweets_google = tweets_simplify.copy()
tweets_amzn = tweets_simplify.copy()
tweets_tsla = tweets_simplify.copy()
tweets_msft = tweets_simplify.copy()
tweets_googl = tweets_simplify.copy()
tweets_apple = tweets_simplify.loc[tweets_simplify['ticker_symbol'] == 'AAPL']
tweets_google = tweets_simplify.loc[tweets_simplify['ticker_symbol'] == 'GOOG']
tweets_googl = tweets_simplify.loc[tweets_simplify['ticker_symbol'] == 'GOOGL']
tweets_amzn = tweets_simplify.loc[tweets_simplify['ticker_symbol'] == 'AMZN']
tweets_tsla = tweets_simplify.loc[tweets_simplify['ticker_symbol'] == 'TSLA']
tweets_msft = tweets_simplify.loc[tweets_simplify['ticker_symbol'] == 'MSFT']

In [ ]:
tweets_apple

,tweet_id,post_date,body,like_num,ticker_symbol
0,551901880079880192,2015-01-05,Xiaomi says it sold 61.1 million smartphones i...,7,AAPL
1,551914027862200321,2015-01-05,"My Weekend Review 1.4.15: $SPY, $IWM, $QQQ, $T...",12,AAPL
6,551928218224455680,2015-01-05,"Despite lawsuit, $AAPL iOS 8 is far more stora...",33,AAPL
9,551928890705600512,2015-01-05,"Weekend Review VIDEO: $SPY, $IWM, $QQQ, $TLT, ...",17,AAPL
12,551938814793355265,2015-01-05,"Drones, Wearables and Robots at #CES http://ws...",9,AAPL
...,...,...,...,...,...
14960,614958463114977280,2015-06-28,Going with the long $AAPL clock face tonight @...,3,AAPL
14962,615156070659543040,2015-06-28,Here's the #StockNerd Blueprint Video for next...,5,AAPL
14968,615193182549225473,2015-06-28,HBO coming on strong in $AAPL App Store... Thi...,5,AAPL
14972,615216117699645440,2015-06-28,"""Why are #iPhone chargers not called Apple Jui...",24,AAPL
14980,615295669805404160,2015-06-28,Weekend Review VIDEO (6/28/15): $SPY $IWM $QQQ...,10,AAPL

In [ ]:
# %store tweets_apple
# %store tweets_amzn
# %store tweets_google
# %store tweets_msft
# %store tweets_tsla

In [ ]:
# apple_body = [str(i) for i in tweets_apple['body'].values]
# amzn_body = [str(i) for i in tweets_amzn['body'].values]
# google_body = [str(i) for i in tweets_google['body'].values]
# msft_body = [str(i) for i in tweets_msft['body'].values]
# tsla_body = [str(i) for i in tweets_tsla['body'].values]

In [ ]:
# %store apple_body
# %store amzn_body
# %store google_body
# %store msft_body
# %store tsla_body

In [ ]:
tweets_apple['post_date'] = pd.to_datetime(tweets_apple['post_date'], format="%Y/%m/%d")
logic = {'body'  : 'first'}
tweets_apple['post_date'] = pd.to_datetime(tweets_apple['post_date'])
tweets_apple = tweets_apple.set_index('post_date')
tweets_apple = tweets_apple.resample("W").agg({
                                    "body": lambda x: x.tolist()})
tweets_apple = tweets_apple.reset_index()
tweets_apple["week_start_date"] = tweets_apple["post_date"] - pd.to_timedelta(tweets_apple["post_date"].dt.dayofweek, unit="d")
tweets_apple

/var/folders/k3/9czgbhxx0zxbqcb7p49tm04w0000gn/T/ipykernel_8652/3663781045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_apple['post_date'] = pd.to_datetime(tweets_apple['post_date'], format="%Y/%m/%d")
/var/folders/k3/9czgbhxx0zxbqcb7p49tm04w0000gn/T/ipykernel_8652/3663781045.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_apple['post_date'] = pd.to_datetime(tweets_apple['post_date'])

,post_date,body,week_start_date
0,2015-01-11,[Xiaomi says it sold 61.1 million smartphones ...,2015-01-05
1,2015-01-18,[Weekend Review VIDEO (1/11/15): $SPY $IWM $QQ...,2015-01-12
2,2015-01-25,[VIDEO http://stks.co/g1Zlq Stock Mkt Analysis...,2015-01-19
3,2015-02-01,[If Apple reports it sold over 70M iPhones in ...,2015-01-26
4,2015-02-08,[$AAPL blew us all way with its earnings..comi...,2015-02-02
5,2015-02-15,[Weekend watch - DLD15 The four horsemen: $AMZ...,2015-02-09
6,2015-02-22,[Why Apple is an excellent deflation hedge: ht...,2015-02-16
7,2015-03-01,"[If Apple wants to transforms cars, it should ...",2015-02-23
8,2015-03-08,[New Post: Run That Winner : http://stks.co/h1...,2015-03-02
9,2015-03-15,[How the Apple Watch compares with rivals. $AA...,2015-03-09
10,2015-03-22,"[Def must watch, A+ presentation RT ""@ritholtz...",2015-03-16
11,2015-03-29,"[$AAPL in an Image http://bit.ly/1EBDVck, my ...",2015-03-23
12,2015-04-05,[Invaluable advise by W.D Gann on trading psyc...,2015-03-30
13,2015-04-12,[NEW POST: market chop continues to confuse ht...,2015-04-06
14,2015-04-19,"[$AAPL coiling pattern, $AAPL chartists await ...",2015-04-13
15,2015-04-26,"[How can you be as great as Elon Musk, BIll Ga...",2015-04-20
16,2015-05-03,"[$AAPL all eyes on you tomorrow big boy, Some ...",2015-04-27
17,2015-05-10,[Weekend VIDEO: $SPY $IWM $QQQ $TLT $AAPL $AMZ...,2015-05-04
18,2015-05-17,[A low risk gamble on one more peripheral? You...,2015-05-11
19,2015-05-24,[Android now accounts for more than half of mo...,2015-05-18
20,2015-05-31,[A great tick tick of the demise of $BBRY and ...,2015-05-25
21,2015-06-07,[my VIDEO http://stks.co/t2BO2 Stock Mkt Anal...,2015-06-01
22,2015-06-14,[Apple is taking on Flipboard and Facebook in ...,2015-06-08
23,2015-06-21,[@bradloncar @anachtomi If things continue2 go...,2015-06-15
24,2015-06-28,[NEW VIDEO: market recap & trade ideas & my SH...,2015-06-22

In [ ]:
tweets_amzn['post_date'] = pd.to_datetime(tweets_amzn['post_date'], format="%Y/%m/%d")
logic = {'body'  : 'first'}
tweets_amzn['post_date'] = pd.to_datetime(tweets_amzn['post_date'])
tweets_amzn = tweets_amzn.set_index('post_date')
tweets_amzn = tweets_amzn.resample("W").agg({
                                    "body": lambda x: x.tolist()})
tweets_amzn = tweets_amzn.reset_index()
tweets_amzn["week_start_date"] = tweets_amzn["post_date"] - pd.to_timedelta(tweets_amzn["post_date"].dt.dayofweek, unit="d")
tweets_amzn

/var/folders/k3/9czgbhxx0zxbqcb7p49tm04w0000gn/T/ipykernel_8652/4185965075.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_amzn['post_date'] = pd.to_datetime(tweets_amzn['post_date'], format="%Y/%m/%d")
/var/folders/k3/9czgbhxx0zxbqcb7p49tm04w0000gn/T/ipykernel_8652/4185965075.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_amzn['post_date'] = pd.to_datetime(tweets_amzn['post_date'])

,post_date,body,week_start_date
0,2015-01-11,[Weekend Market Film Session 01/04/15 {Video} ...,2015-01-05
1,2015-01-18,[Amazon's #Transparent wins #GoldenGIobes best...,2015-01-12
2,2015-01-25,[VIDEO http://stks.co/g1Zlq Stock Mkt Analysis...,2015-01-19
3,2015-02-01,[If Apple reports it sold over 70M iPhones in ...,2015-01-26
4,2015-02-08,[Setups for Monday http://stks.co/q1OBa other ...,2015-02-02
5,2015-02-15,[Weekend Review VIDEO: $SPY $IWM $QQQ $AAPL $A...,2015-02-09
6,2015-02-22,[Weekend Review VIDEO: $SPY $IWM $QQQ $TLT $GL...,2015-02-16
7,2015-03-01,[3/3 setup most common in stocks like $NFLX $T...,2015-02-23
8,2015-03-08,[Weekend Review VIDEO $SPY $IWM $QQQ $AAPL $AM...,2015-03-02
9,2015-03-15,[Fastest Growing MEGA Caps -1 $GILD2 $FB3 $BAB...,2015-03-09
10,2015-03-22,"[Def must watch, A+ presentation RT ""@ritholtz...",2015-03-16
11,2015-03-29,[$NUUU Rejuvel bottle arrived this weekend via...,2015-03-23
12,2015-04-05,[@modern_rock wanted good book from $AMZN deci...,2015-03-30
13,2015-04-12,[Weekend Review VIDEO: $SPY $IWM $QQQ $VIX $IB...,2015-04-06
14,2015-04-19,[Weekend Review VIDEO: $SPY $IWM $QQQ $TLT $IB...,2015-04-13
15,2015-04-26,"[""Busy Earnings Reporting Week Coming Up"" $HAL...",2015-04-20
16,2015-05-03,[My 4 top holdings are all run by their founde...,2015-04-27
17,2015-05-10,[Weekend VIDEO: $SPY $IWM $QQQ $TLT $AAPL $AMZ...,2015-05-04
18,2015-05-17,[Trade ideas moving forward for 5/11http://wat...,2015-05-11
19,2015-05-24,[Looking at selling June put spreads in $AMZN ...,2015-05-18
20,2015-05-31,[Amazon: The company is spending billions on i...,2015-05-25
21,2015-06-07,[Weekend VIDEO: $SPY $IWM $QQQ $AAPL $GOOGL $T...,2015-06-01
22,2015-06-14,[Keep your eye on $NMXS. Something is up here....,2015-06-08
23,2015-06-21,[@bradloncar @anachtomi If things continue2 go...,2015-06-15
24,2015-06-28,[NEW VIDEO: market recap & trade ideas & my SH...,2015-06-22

In [ ]:
tweets_google['post_date'] = pd.to_datetime(tweets_google['post_date'], format="%Y/%m/%d")
logic = {'body'  : 'first'}
tweets_google['post_date'] = pd.to_datetime(tweets_google['post_date'])
tweets_google = tweets_google.set_index('post_date')
tweets_google = tweets_google.resample("W").agg({
                                    "body": lambda x: x.tolist()})
tweets_google = tweets_google.reset_index()
tweets_google["week_start_date"] = tweets_google["post_date"] - pd.to_timedelta(tweets_google["post_date"].dt.dayofweek, unit="d")
tweets_google

/var/folders/k3/9czgbhxx0zxbqcb7p49tm04w0000gn/T/ipykernel_8652/885629158.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_google['post_date'] = pd.to_datetime(tweets_google['post_date'], format="%Y/%m/%d")
/var/folders/k3/9czgbhxx0zxbqcb7p49tm04w0000gn/T/ipykernel_8652/885629158.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_google['post_date'] = pd.to_datetime(tweets_google['post_date'])

,post_date,body,week_start_date
0,2015-01-11,"[Despite lawsuit, $AAPL iOS 8 is far more stor...",2015-01-05
1,2015-01-18,[Weekend Video Strategy Session 01/11/15 {Vide...,2015-01-12
2,2015-01-25,[The @LGUS #G3 Smartphone will see @Android 5....,2015-01-19
3,2015-02-01,[If Apple reports it sold over 70M iPhones in ...,2015-01-26
4,2015-02-08,[$GOOG Google Revenue Hurt by Rising Dollar vi...,2015-02-02
5,2015-02-15,[Weekend watch - DLD15 The four horsemen: $AMZ...,2015-02-09
6,2015-02-22,[02-15-15 Trade Plan http://stks.co/g1m9e $QQQ...,2015-02-16
7,2015-03-01,"[Early movers: $GS, $AAPL, $DG, $DISH, $HMC & ...",2015-02-23
8,2015-03-08,[What Will Twitter Look Like On Google? $GOOG ...,2015-03-02
9,2015-03-15,[Weekend Video Strategy Session 03/08/15 {Vide...,2015-03-09
10,2015-03-22,"[$FB buying TheFind Inc., a search engine for ...",2015-03-16
11,2015-03-29,[Google News buries news of its FTC investigat...,2015-03-23
12,2015-04-05,[Over 60% of app traffic in the US is from the...,2015-03-30
13,2015-04-12,[#Flipkart poaches second $GOOG engineer from ...,2015-04-06
14,2015-04-19,[My fav part of that terrible McClure article ...,2015-04-13
15,2015-04-26,[http://stockbattle.com is the fantasy sports ...,2015-04-20
16,2015-05-03,[Some gains from the Technical Buy Area but th...,2015-04-27
17,2015-05-10,"[@google, @facebook, @microsoft and @twitter b...",2015-05-04
18,2015-05-17,[Capital Investment #CAPEX is in decline this ...,2015-05-11
19,2015-05-24,[Android now accounts for more than half of mo...,2015-05-18
20,2015-05-31,"[Major Tech Executive Says Google $GOOG, $GOOG...",2015-05-25
21,2015-06-07,"[Monday links: self-confident gurus, the divid...",2015-06-01
22,2015-06-14,[MS Long Term Picks: $ACT $AMZN $BAC $COST $GO...,2015-06-08
23,2015-06-21,[@bradloncar @anachtomi If things continue2 go...,2015-06-15
24,2015-06-28,"[Meet #Zoox, the Robo-Taxi Start-up Taking on ...",2015-06-22

In [ ]:
tweets_msft['post_date'] = pd.to_datetime(tweets_msft['post_date'], format="%Y/%m/%d")
logic = {'body'  : 'first'}
tweets_msft['post_date'] = pd.to_datetime(tweets_msft['post_date'])
tweets_msft = tweets_msft.set_index('post_date')
tweets_msft = tweets_msft.resample("W").agg({
                                    "body": lambda x: x.tolist()})
tweets_msft = tweets_msft.reset_index()
tweets_msft["week_start_date"] = tweets_msft["post_date"] - pd.to_timedelta(tweets_msft["post_date"].dt.dayofweek, unit="d")
tweets_msft

/var/folders/k3/9czgbhxx0zxbqcb7p49tm04w0000gn/T/ipykernel_8652/304201917.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_msft['post_date'] = pd.to_datetime(tweets_msft['post_date'], format="%Y/%m/%d")
/var/folders/k3/9czgbhxx0zxbqcb7p49tm04w0000gn/T/ipykernel_8652/304201917.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_msft['post_date'] = pd.to_datetime(tweets_msft['post_date'])

,post_date,body,week_start_date
0,2015-01-11,"[Despite lawsuit, $AAPL iOS 8 is far more stor...",2015-01-05
1,2015-01-18,"[Google is the new Microsoft. Uh oh, says @BV ...",2015-01-12
2,2015-01-25,[Perspective: Revenue per Employee Oil vs Tech...,2015-01-19
3,2015-02-01,[Next Week in Weeklys – 1/26 – 1/30 http://cbo...,2015-01-26
4,2015-02-08,[Those $MSFT tablets on the sidelines? They're...,2015-02-02
5,2015-02-15,[.@Stardock CEO: #DirectX12 will allow CG-like...,2015-02-09
6,2015-02-22,[Weekend Review VIDEO: $SPY $IWM $QQQ $TLT $GL...,2015-02-16
7,2015-03-01,[The Nasdaq in 2000 vs. the Nasdaq today. A ma...,2015-02-23
8,2015-03-08,[.@Windows 10 will have support for #USB 3.1 #...,2015-03-02
9,2015-03-15,"[Early movers: $GM, $RTI, $AMZN, $AAPL, $BBRY ...",2015-03-09
10,2015-03-22,[.@Windows 10 now features @bittorrent like up...,2015-03-16
11,2015-03-29,[The 5 largest #tech companies today vs. the 5...,2015-03-23
12,2015-04-05,[Warren Buffett Vs. David Einhorn: Who Is Bett...,2015-03-30
13,2015-04-12,[Microsoft $MSFT upgraded to OUTPERFORM by Wel...,2015-04-06
14,2015-04-19,"[New Post - ""Market Musings: The Old Man Editi...",2015-04-13
15,2015-04-26,"[How can you be as great as Elon Musk, BIll Ga...",2015-04-20
16,2015-05-03,[Setups for Monday http://stks.co/c2747 Other ...,2015-04-27
17,2015-05-10,"[#lemonwaterfund MT ""@carletonenglish: TIL: $M...",2015-05-04
18,2015-05-17,[Capital Investment #CAPEX is in decline this ...,2015-05-11
19,2015-05-24,[Dear America: You're Doing 'Clean Energy' All...,2015-05-18
20,2015-05-31,[Game Plan For The Coming Week - Cramer's Mad ...,2015-05-25
21,2015-06-07,[$MSFT wants to update my Win 7 to Win 10 for ...,2015-06-01
22,2015-06-14,"[if you're keeping score at home, it took abou...",2015-06-08
23,2015-06-21,[$AAPL $CSCO $IBM $INTC $MSFT Now Have Negativ...,2015-06-15
24,2015-06-28,[.@scottgfx @cdixon Yes $AAPL reports a higher...,2015-06-22

In [ ]:
tweets_tsla['post_date'] = pd.to_datetime(tweets_tsla['post_date'], format="%Y/%m/%d")
logic = {'body'  : 'first'}
tweets_tsla['post_date'] = pd.to_datetime(tweets_tsla['post_date'])
tweets_tsla = tweets_tsla.set_index('post_date')
tweets_tsla = tweets_tsla.resample("W").agg({
                                    "body": lambda x: x.tolist()})
tweets_tsla = tweets_tsla.reset_index()
tweets_tsla["week_start_date"] = tweets_tsla["post_date"] - pd.to_timedelta(tweets_tsla["post_date"].dt.dayofweek, unit="d")
tweets_tsla['body']

/var/folders/k3/9czgbhxx0zxbqcb7p49tm04w0000gn/T/ipykernel_8652/1630337887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_tsla['post_date'] = pd.to_datetime(tweets_tsla['post_date'], format="%Y/%m/%d")
/var/folders/k3/9czgbhxx0zxbqcb7p49tm04w0000gn/T/ipykernel_8652/1630337887.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_tsla['post_date'] = pd.to_datetime(tweets_tsla['post_date'])

0     [My Weekend Review 1.4.15: $SPY, $IWM, $QQQ, $...
1     [Weekend Review VIDEO (1/11/15): $SPY $IWM $QQ...
2     ["That is fine by Musk. He is not driven by pr...
3     [Weekend Review VIDEO (1/25): $SPY $IWM $QQQ $...
4     [My Weekend Review $SPY $IWM $QQQ $TLT $AAPL $...
5     [Earnings this week courtesy of @WrigleyTom $F...
6     [RT @TNR_Gold @Sufiy #Lithium Race: BMW Buildi...
7     [Weekend Video Strategy Session 02/22/15 {Vide...
8     [Weekend Video Strategy Session 03/01/15 {Vide...
9     [Weekend Video Strategy Session 03/08/15 {Vide...
10    [#MyPlan 3/16-3/20/2015$PEP Calls $CY Calls $C...
11    [5/ Signs to watch for : (1) a big stock drop ...
12    [NEW POST: bulls back against the wall http://...
13    [Weekend Video Strategy Session 04/05/15 {Vide...
14    [Weekend Review VIDEO: $SPY $IWM $QQQ $TLT $IB...
15    [How can you be as great as Elon Musk, BIll Ga...
16    [Tesla Short Interest Hits 13 Month High http:...
17    [Weekend Overview and Analysis 05/03/15 {Video...
18    [thinking about where $TSLA could be first wee...
19    [Forget ignoring it, Ford is now trying to lea...
20    [Select growth stocks setting up or within buy...
21    [Elon Musk Is Ecstatic About Powerwall Demand ...
22    [Get my take on $SPX $es_f $SPY $AAPL $NFLX $T...
23    [@bradloncar @anachtomi If things continue2 go...
24    [Weekend Review VIDEO (6/21) $SPY $IWM $QQQ $A...
Name: body, dtype: object

In [ ]:
%store tweets_apple
%store tweets_amzn
%store tweets_google
%store tweets_msft
%store tweets_tsla

Stored 'tweets_apple' (DataFrame)
Stored 'tweets_amzn' (DataFrame)
Stored 'tweets_google' (DataFrame)
Stored 'tweets_msft' (DataFrame)
Stored 'tweets_tsla' (DataFrame)

In [ ]:
price = pd.read_csv('stock_price/CompanyValues.csv')
startPrice = '2015-01-05'
endPrice = '2019-12-27'
price = price[price['day_date'] >= startPrice]
price = price[price['day_date'] <= endPrice]
price_apple = price.copy()
price_google = price.copy()
price_amzn = price.copy()
price_tsla = price.copy()
price_msft = price.copy()
price_googl = price.copy()
price_apple = price_apple.loc[price['ticker_symbol'] == 'AAPL']
price_google = price_google.loc[price['ticker_symbol'] == 'GOOG']
price_googl = price_googl.loc[price['ticker_symbol'] == 'GOOGL']
price_amzn = price_amzn.loc[price['ticker_symbol'] == 'AMZN']
price_msft = price_msft.loc[price['ticker_symbol'] == 'MSFT']
price_tsla = price_tsla.loc[price['ticker_symbol'] == 'TSLA']

In [ ]:
#apple net price 
price_apple['day_date'] = pd.to_datetime(price_apple['day_date'], format="%Y/%m/%d")
logic = {'open_value'  : 'first',
         'close_value' : 'last',
        }
price_apple['day_date'] = pd.to_datetime(price_apple['day_date'])
price_apple = price_apple.set_index('day_date')
price_apple = price_apple.sort_index()
price_apple = price_apple.resample('W').apply(logic)
price_apple.index = price_apple.index - pd.tseries.frequencies.to_offset("7D")
price_apple['net_price'] = ((price_apple['close_value'] - price_apple['open_value']) / price_apple['open_value']) * 100
price_apple = price_apple.iloc[1:, :]
price_apple = price_apple.reset_index()
price_apple

      day_date  open_value  close_value  net_price
0   2015-01-11      112.60       105.99      -6.61
1   2015-01-18      107.03       112.98       5.95
2   2015-01-25      113.74       117.16       3.42
3   2015-02-01      118.05       118.93       0.88
4   2015-02-08      118.55       127.08       8.53
..         ...         ...          ...        ...
254 2019-11-24      262.71       267.25       4.54
255 2019-12-01      267.27       270.71       3.44
256 2019-12-08      270.00       275.15       5.15
257 2019-12-15      277.00       279.44       2.44
258 2019-12-22      280.53       289.80       9.27

[259 rows x 4 columns]

In [ ]:
#google net price 
price_google['day_date'] = pd.to_datetime(price_google['day_date'], format="%Y/%m/%d")
logic = {'open_value'  : 'first',
         'close_value' : 'last',
        }
price_google['day_date'] = pd.to_datetime(price_google['day_date'])
price_google = price_google.set_index('day_date')
price_google = price_google.sort_index()
price_google = price_google.resample('W').apply(logic)
price_google.index = price_google.index - pd.tseries.frequencies.to_offset("7D")
price_google['net_price'] = ((price_google['close_value'] - price_google['open_value']) / price_google['open_value']) * 100
price_google = price_google.iloc[1:, :]
price_google = price_google.reset_index()
price_google

NameError: name 'pd' is not defined

In [ ]:
#amazon net price
price_amzn['day_date'] = pd.to_datetime(price_amzn['day_date'], format="%Y/%m/%d")
logic = {'open_value'  : 'first',
         'close_value' : 'last',
        }
price_amzn['day_date'] = pd.to_datetime(price_amzn['day_date'])
price_amzn = price_amzn.set_index('day_date')
price_amzn = price_amzn.sort_index()
price_amzn = price_amzn.resample('W').apply(logic)
price_amzn.index = price_amzn.index - pd.tseries.frequencies.to_offset("7D")
price_amzn['net_price'] = ((price_amzn['close_value'] - price_amzn['open_value']) / price_amzn['open_value']) * 100
price_amzn = price_amzn.iloc[1:, :]
price_amzn = price_amzn.reset_index()
price_amzn

      day_date  open_value  close_value  net_price
0   2015-01-11      297.56       290.74      -6.82
1   2015-01-18      286.28       312.39      26.11
2   2015-01-25      311.82       354.53      42.71
3   2015-02-01      350.05       374.28      24.23
4   2015-02-08      371.00       381.83      10.83
..         ...         ...          ...        ...
254 2019-11-24     1753.25      1800.80      47.55
255 2019-12-01     1804.40      1751.60     -52.80
256 2019-12-08     1750.66      1760.94      10.28
257 2019-12-15     1767.00      1786.50      19.50
258 2019-12-22     1788.26      1869.80      81.54

[259 rows x 4 columns]

In [ ]:
#msft net price
price_msft['day_date'] = pd.to_datetime(price_msft['day_date'], format="%Y/%m/%d")
logic = {'open_value'  : 'first',
         'close_value' : 'last',
        }
price_msft['day_date'] = pd.to_datetime(price_msft['day_date'])
price_msft = price_msft.set_index('day_date')
price_msft = price_msft.sort_index()
price_msft = price_msft.resample('W').apply(logic)
price_msft.index = price_msft.index - pd.tseries.frequencies.to_offset("7D")
price_msft['net_price'] = ((price_msft['close_value'] - price_msft['open_value']) / price_msft['open_value']) * 100
price_msft = price_msft.iloc[1:, :]
price_msft = price_msft.reset_index()
price_msft

      day_date  open_value  close_value  net_price
0   2015-01-11       47.42        46.24      -1.18
1   2015-01-18       45.31        47.18       1.87
2   2015-01-25       47.00        40.40      -6.60
3   2015-02-01       40.59        42.41       1.82
4   2015-02-08       42.24        43.87       1.63
..         ...         ...          ...        ...
254 2019-11-24      150.00       151.38       1.38
255 2019-12-01      151.81       151.75      -0.06
256 2019-12-08      151.07       154.53       3.46
257 2019-12-15      155.11       157.41       2.30
258 2019-12-22      158.12       158.96       0.84

[259 rows x 4 columns]

In [ ]:
#tesla net price
price_tsla['day_date'] = pd.to_datetime(price_tsla['day_date'], format="%Y/%m/%d")
logic = {'open_value'  : 'first',
         'close_value' : 'last',
        }
price_tsla['day_date'] = pd.to_datetime(price_tsla['day_date'])
price_tsla = price_tsla.set_index('day_date')
price_tsla = price_tsla.sort_index()
price_tsla = price_tsla.resample('W').apply(logic)
price_tsla.index = price_tsla.index - pd.tseries.frequencies.to_offset("7D")
price_tsla['net_price'] = ((price_tsla['close_value'] - price_tsla['open_value']) / price_tsla['open_value']) * 100
price_tsla = price_tsla.iloc[1:, :]
price_tsla = price_tsla.reset_index()
price_tsla

      day_date  open_value  close_value  net_price
0   2015-01-11      203.05       193.07      -9.98
1   2015-01-18      190.70       201.29      10.59
2   2015-01-25      201.83       203.60       1.77
3   2015-02-01      203.97       217.36      13.39
4   2015-02-08      215.38       203.77     -11.61
..         ...         ...          ...        ...
254 2019-11-24      344.32       329.94     -14.38
255 2019-12-01      329.40       335.89       6.49
256 2019-12-08      336.59       358.39      21.80
257 2019-12-15      362.55       405.59      43.04
258 2019-12-22      411.78       430.38      18.60

[259 rows x 4 columns]

In [ ]:
#googl net price
price_googl['day_date'] = pd.to_datetime(price_googl['day_date'], format="%Y/%m/%d")
logic = {
         'open_value'  : 'first',
         'close_value' : 'last',
        }
price_googl['day_date'] = pd.to_datetime(price_googl['day_date'])
price_googl = price_googl.set_index('day_date')
price_googl = price_googl.sort_index()
price_googl = price_googl.resample('W').apply(logic)
price_googl.index = price_googl.index - pd.tseries.frequencies.to_offset("7D")
price_googl = price_googl.iloc[1:, :]
price_googl = price_googl.reset_index()
price_googl

      day_date  open_value  close_value  net_price
0   2015-01-11      499.24      510.455     11.215
1   2015-01-18      503.15      541.950     38.800
2   2015-01-25      541.50      537.550     -3.950
3   2015-02-01      534.32      533.875     -0.445
4   2015-02-08      531.06      551.160     20.100
..         ...         ...          ...        ...
254 2019-11-24     1296.26     1304.090      7.830
255 2019-12-01     1302.56     1339.390     36.830
256 2019-12-08     1338.86     1346.870      8.010
257 2019-12-15     1355.00     1351.220     -3.780
258 2019-12-22     1358.73     1354.640     -4.090

[259 rows x 4 columns]

In [ ]:
price['day_date'] = price['day_date'].astype('datetime64[ns]')
tweets_simplify = pd.merge(tweets_simplify, price, left_on=['post_date', 'ticker_symbol'], right_on=['day_date', 'ticker_symbol'], how = 'left')

In [ ]:
tweets_simplify.drop('close_value', inplace=True, axis=1)
tweets_simplify.drop('volume', inplace=True, axis=1)
tweets_simplify.drop('open_value', inplace=True, axis=1)
tweets_simplify.drop('high_value', inplace=True, axis=1)
tweets_simplify.drop('low_value', inplace=True, axis=1)

In [ ]:
# tweets_simplify['post_date'] = tweets_simplify['post_date']+ pd.DateOffset(days=-7) #offset date by 1 week
# apple_tweets = tweets_simplify.loc[tweets_simplify['ticker_symbol'] == 'AAPL']
# apple_tweets

In [ ]:
# stock_price = [str(i) for i in tweets_simplify['change'].values]

In [ ]:
%store body
%store ticker
%store tweets_simplify
%store stock_price

UsageError: Unknown variable 'body'

In [ ]:
%store price_amzn
%store price_apple
%store price_google
%store price_msft
%store price_tsla

Stored 'price_amzn' (DataFrame)
Stored 'price_apple' (DataFrame)
Stored 'price_google' (DataFrame)
Stored 'price_msft' (DataFrame)
Stored 'price_tsla' (DataFrame)